NET_SERVER_IP=192.168.0.51"
NET_USERNAME="Admin"
NET_PASSWORD="somepasswordhere"
UI_SECRET_KEY="somehashhere"

EMAIL_SMTP_SERVER="smtp.gmail.com"
EMAIL_SMTP_PORT="465"
EMAIL_SENDER="gzouvp@gmail.com"
EMAIL_PASSWORD=""

SIGNAL_BOT=True
SAVE_EXCEL_AT_CLOSE=False
PROCESS_DOC=True
PROCESS_XLS=True
DAILY_BACKUPS=True